
/* ----------------------------POSITIONING----------------------------- 
 -Outdents for paragraph numbers.
There are a maximum of six numbers which could
in theory appear on the same line
e.g. 67.(1)(a)(i)(I)(A)- */

.o1,.o2,.o3,.o4,.o5,.o6 {
float:left;
margin-top:0
}

.o1 {
margin-left:-2em;
width: 2em;
}

.o2 {
margin-left:-4em;
width: 2em;
}

.o3 {
margin-left:-6em;
width: 2em;
}

.o4 {
margin-left:-8em;
width: 2em;
}

/* -Top margin (space above) settings for paragraphs- */
.t00 {
margin-top:0
}

.t01 {
margin-top:0.5em
}

.t02 {
margin-top:1em
}

.t03 {
margin-top:1.5em
}

.t04 {
margin-top:2em
}

.t05 {
margin-top:2.5em
}

.t06 {
margin-top:3em
}

.t10 {
margin-top:5em
}

/* -Bottom margin (space below) settings for paragraphs- */
.b00 {
margin-bottom:0
}

.b01 {
margin-bottom:0.5em
}

.b02 {
margin-bottom:1em
}

.b03 {
margin-bottom:1.5em
}

/* -Indent from right margin settings- */
.r01 {
margin-right:2em
}

.r02 {
margin-right:4em
}

.r03 {
margin-right:6em
}

.r04 {
margin-right:8em
}

.r05 {
margin-right:10em
}

.r06 {
margin-right:12em
}

.r07 {
margin-right:14em
}

.r08 {
margin-right:16em
}

/* -Indent from left margin settings- */
.l01 {
margin-left:2em
}

.l02 {
margin-left:4em
}

.l03 {
margin-left:6em
}

.l04 {
margin-left:8em
}

.l05 {
margin-left:10em
}

.l06 {
margin-left:12em
}

.l07 {
margin-left:14em
}

.l08 {
margin-left:16em
}

.w01 {
width:10%
}

.w02 {
width:20%
}

.w03 {
width:30%
}

.w04 {
width:40%
}

.w05 {
width:50%
}


/* -Text alignment- */
.l {
text-align:left
}

.j {
text-align:justify
}

.c {
text-align:center
}

.d {
text-align:right;
padding-right:1em
}

.r {
text-align:right
}

/* keep with next */
.y {
page-break-after:avoid
}

/* TABLES */

td .o1 {
margin-left:-1em;
width: 1em;
}

td .o2 {
margin-left:-2em;
width: 1em;
}

td .o3 {
margin-left:-3em;
width: 1em;
}

td .o4 {
margin-left:-4em;
width: 1em;
}

/* -Indent from left margin settings- */
td .l01 {
margin-left:1em
}

td .l02 {
margin-left:2em
}

td .l03 {
margin-left:3em
}

td .l04 {
margin-left:4em
}

table p {
margin-top:0.3em !important;
margin-bottom:0.3em !important;
line-height: 1.3em;
}

