/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
body {
	}
	#zone-user-wrapper {
			}
	#zone-branding-wrapper {
			}
			#logo
			{
				height: 80px;
				visibility:visible;
			}
			#region-search {
				display:inherit;
				visibility:visible;
				}
	#zone-menu-wrapper {
			}
	#zone-header-wrapper {
			}
	#zone-preface-wrapper {
			}
	#zone-content-wrapper, .section .zone-wrapper {
			}
			#region-content {
				}
				/* The --10 is added to the selectors on the search results page */				
				.region-content .region-inner {
					margin: 0px;
					padding: 10pt;
					font-size: 1.0em;
					line-height: 1.2em;
					}
			/* This is the padding around the sidebar-first content */
			.region-sidebar-first {
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-first .region-inner {
					margin: 0px;
					padding-top: 6px;
					padding-right: 0px;
					padding-bottom: 6px;
					padding-left: 3px;					
					}
			/* This is the padding around the sidebar-second content */
			.region-sidebar-second {
				}
				/* This is the actual sidebar-second content */
				.region-sidebar-second .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 10px;
					padding-bottom: 10px;
					padding-left: 0px;
					}
	#zone-postscript-wrapper {
			}
	#zone-footer-wrapper {
			}