/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
body {
	}
	#zone-user-wrapper {
			}
	#zone-branding-wrapper {
			}
			#logo
			{
				height: auto;
				display:inherit;
				visibility:visible;
			}
	#zone-menu-wrapper {
			}
	#zone-header-wrapper {
			}
	#zone-preface-wrapper {
			}
	#zone-content-wrapper, .section .zone-wrapper  {
			}
			#region-content {
				}
				/* The --10 is added to the selectors on the search results page */				
				.region-content .region-inner {
					margin: 0px;
					padding: 10pt;
					font-size: 1.0em;
					font-size: 1.1em;
					line-height: 1.3em;
					}
			/* This is the padding around the sidebar-first content */
			.region-sidebar-first {
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-first .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 0px;
					padding-bottom: 10px;
					padding-left: 10px;					
					font-size: 1.0em;
					line-height: 1.2em;
					}
			/* This is the padding around the sidebar-second content */
			.region-sidebar-second {
				}
				/* This is the actual sidebar-second content */
				.region-sidebar-second .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 10px;
					padding-bottom: 10px;
					padding-left: 0px;
					font-size: 1.0em;
					line-height: 1.2em;
					}

	#zone-postscript-wrapper {
			}
	#zone-footer-wrapper {
			}
}